<nav>
  <div class="wide-container">
    <div class="nav-container">
      <a href="/" class="nav-logo">
        <img src="/assets/images/logo.png" />
      </a>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/planting"><li>Planting</li></a>
        <a href="/dna"><li>DNA</li>
        <a href="/family"><li>Join the Family</li></a>
      </ul>
    </div>
  </div>
</nav>

<div class="sub-nav">
  <div class="wide-container">
    <div class="sub-nav-container">
      <ul>
        <a href="#"><li>Midtown</li></a>
        <a href="#"><li>Benson</li></a>
        <a href="#"><li>Council Bluffs</li></a>
        <a href="#"><li>Lincoln</li></a>
      </ul>
    </div>
  </div>
</div>