nav .nav-container {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);

  .nav-logo {
    margin: 1rem 0;
    text-align: center;
  }

  img {
    height: 5rem;
  }
}

nav {
  ul {
    list-style: none;
    margin: 2rem 0;
    text-align: center;
  }
  
  li {
    @include transition(background-color 0.3s ease);

    display: inline;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 1.5rem;
    border-radius: 5px;
  }
  
  a {
    color: $shade;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      color: lighten($shade, 10%);
      
      li {
        background-color: darken($tint, 4%);
      }
    }
  }
}


@media (max-width: 550px) {
  nav a {
    display: block;
    padding: 0.4rem 0;
  }
}