@import "lib/normalize";
@import "lib/skeleton";
@import "lib/bourbon/bourbon";

@import "partials/variables";
@import "partials/skeleton-overrides";
@import "partials/nav";
@import "partials/footer";

section {
  padding: 5rem 0;

  p {
    margin-bottom: 2rem;
    
    &:last-of-type {
      margin: 0;
    }
  }
  
  img {
    width: 100%;
  }
}

section.primary {
  color: $tint;
  background-color: $primary;
}

section.light-grey {
  color: $shade;
  background-color: $light-grey;
}

section.grey {
  color: $tint;
  background-color: $dark-grey;
}

.section-wrap {
  margin-bottom: 5rem;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.placeholder {
  background-color: $tint;
  color: $shade;
  font-size: 2.5rem;
  padding: 20rem 0;
  text-align: center;
}

.mini-placeholder {
  @extend .placeholder;
  padding: 10rem 0;
}

.church-family {
  .mini-container {
    margin-top: 5rem;
  }

  h5 {
    text-align: left;
  }
}

.core-values {
  .row h6 {
    margin-top: 5rem;
  }
}