@import "lib/normalize";
@import "lib/skeleton";
@import "lib/bourbon/bourbon";

@import "partials/variables";
@import "partials/skeleton-overrides";
@import "partials/nav";
@import "partials/footer";
@import "partials/video-header";

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: $primary;
  border-color: $primary;
  
  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

section {
  padding: 5rem 0;

  p {
    margin-bottom: 2rem;
    
    &:last-of-type {
      margin: 0;
    }
  }
  
  img {
    width: 100%;
  }

  &.primary {
    color: $tint;
    background-color: $primary;
  }

  &.light-grey {
    color: $shade;
    background-color: $light-grey;
  }
  
  &.grey {
    color: $tint;
    background-color: $dark-grey;
  }
  
  &.orange-background-tile {
    background-image: url('/assets/images/pattern-tile.png');
    background-repeat: repeat;
    background-size: 30rem;
    color: $shade;
    padding: 7rem 0;
    text-align: center;
    
    h1 {
      font-size: 6rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    p {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
}

.section-wrap {
  margin-bottom: 5rem;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.placeholder {
  background-color: $tint;
  color: $shade;
  font-size: 2.5rem;
  padding: 20rem 0;
  text-align: center;
}

.mini-placeholder {
  @extend .placeholder;
  padding: 10rem 0;
}

.church-family {
  h5 {
    text-align: left;
  }
}

.core-values {
  .row h6 {
    margin-top: 5rem;
  }
}

.planting-strategy {
  h4 {
    color: $dark-grey;
    font-weight: 500;
    font-size: 2.6rem;
  }
  
  h5 {
    color: $dark-grey;
  }
}